<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{{title}}</title>
</head>
<body class="md-content-extra">
	 <md-content layout-padding layout="row" layout-sm="column"  class="md-content-extra">
	    <md-input-container>
	      <label style="font-weight: none;">ExFORM_Field{{counter.i}}</label>
	      <input ng-model="fieldSample" required ng-enter-key="addFieldEntry()">
			<p ng-hide="fieldSample.length" class="label label-danger">
			  Enter sample value for <span class="badge">ExFORM_Field{{counter.i}}</span>
			</p>
	    </md-input-container>
	    <span style="padding-left:20px;">&nbsp;</span>
	    <span ng-hide="!fieldSample.length">
		    <md-button class="md-fab md-warn md-raised md-hue-2" aria-label="Use Android" ng-click="addFieldEntry()">
	          <strong>+</strong>
	        </md-button>
        </span>
    </md-content>
    <md-content layout-padding layout="column" class="md-content-extra" ng-show="filedEntries.length">
    	<div class="list-group list-group-extension">
	    	<div class="list-group-item list-group-item-extension list-group-item-danger ">
	    		&lt;ExFORM_Data&gt;<br/>
	    			<div ng-repeat="fieldEntry in filedEntries">&nbsp;&#09;&lt;{{fieldEntry.fieldName}}&gt;{{fieldEntry.sampleValue | textOrNumber}}&lt;/{{fieldEntry.fieldName }}&gt;&nbsp;&nbsp;<span class="label label-danger" ng-click="removeFileldEntry(fieldEntry.fieldName)" title="remove this tag">-</span></div>
	    		&lt;/ExFORM_Data&gt;
	    	</div>
	    </div>
    </md-content>
    <md-content class="md-content-extra" >
    	<allxmldata></allxmldata>
    </md-content>
</body>
</html>