<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{{title}}</title>
</head>
<body>
	<md-content class="md-content-table-entry-extra ">
	<table class="table-bordered entrySelector">
		<thead>
			<td/>
			<td  ng-repeat="m in [] | range:20">
				{{$index+1}}
			</td>
		</thead>
		<tbody>
			<tr ng-repeat="n in [] | range:10" ng-class="{selected: $index == $scope.rowIndex-1 }" ng-model = "rowIndex" ng-click="$parent.$scope.rowIndex = $index+1"> 
				<td>{{$index+1}}</td>
				<td ng-repeat="m in [] | range:20" ng-model="colIndex" ng-click="$parent.$scope.colIndex = $index+1;"  ng-class="{selected: $index == $scope.colIndex-1}" }>&nbsp;</td>
			</tr>
		</tbody>
	</table>
	</md-content>
	<md-content class="md-content-extra"> <allxmldata></allxmldata>
	</md-content>
</body>
</html>